<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - New Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
     <h1 class="middle">Welcome {{user}} to Plan 8!</h1>
       <nav>
           <div class="topnav">
            <a href="{{ url_for('home')}}" class="left"> Home </a>
            <a href="{{url_for('get_events')}}" class="left"> My Events</a>
           <a href="{{url_for('new_event')}}" class="left"> Add Event</a>
           <a href="{{url_for('get_friends')}}" class="left"> Friend List</a>
           <a href="{{url_for('get_reports')}}" class="left"> Reported Events </a>
               <a href="{{ url_for('logout')}}" class="right">Logout</a>
               <a href="{{url_for('get_account')}}" class="right"> My Account</a>

           </div>
        </nav>

       <div class="UserNames">
                <br><p>First Name : {{account.first_name }}</p>
                <p>Last Name : {{account.last_name}}</p>
                <p>Email : {{account.email}}</p>
       </div>

        <td>
                    <form action = "{{ url_for('edit_account', user_id= account.id) }}">
                        <input type="submit" value="Edit Account">
                    </form>

    </body>
</html>
