<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Events App">
        <title> Events App - View your Events</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
     <h1 class="middle">Welcome {{user}} to Plan 8!</h1>
     <div class="topnav">

    <nav>

            <a href="{{ url_for('home')}}" class="left"> Home </a>
            <a href="/events" class="left"> My Events </a>
            <a href="{{url_for('new_event')}}" class="left"> Add Event</a>
            <a href="{{url_for('get_friends')}}" class="left"> Friend List</a>
            <a href="{{url_for('get_reports')}}" class="left"> Reported Events </a>
            <a href="{{ url_for('logout')}}" class="right">Logout</a>
            <a href="{{url_for('get_account')}}" class="right"> My Account</a>
        </nav>
     </div>


    <table class="friendlist">
        <h1>Listing All Users</h1>
            <tr>
                <th>User Names :</th>

            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.first_name + " "}}{{user.last_name}}</td>
                <td>
                    <form action = "{{ url_for('friend_add', friend_id=user.id) }}" method="post">
                        <input type="submit" value="Add Friend">
                    </form>

                </td>
            </tr>
            {% endfor %}

        </table>
     <br><br>

    <table class="friendlist">
        <h1> Friend List :</h1>

        <tr>
            <th>User Names : </th>
        </tr>
        {% for friend in friends %}
        <tr>
            <td>{{ friend.friend.first_name + " "}}{{friend.friend.last_name}}</td>
        </tr>
        {% endfor %}
    </table>



    </body>
</html>
