<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Event App">
        <title>Events App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
   <body>
    <h1 class="middle">Welcome {{user}} to Plan 8!</h1>
        <div class="topnav">
        <nav>
            {% if user %}
                <a href="{{ url_for('home')}}" class="left"> Home   </a>
            <a href="{{url_for('get_events')}}" class="left">   My Events   </a>
            <a href="{{url_for('new_event')}}" class="left">   Add Event  </a>
            <a href="{{url_for('get_friends')}}" class="left"> Friend List </a>
            <a href="{{url_for('get_reports')}}" class="left"> Reported Events </a>
                <a href="{{ url_for('logout')}}" class="right">Logout</a>
                <a href="{{url_for('get_account')}}" class="right"> My Account</a>
            {% else %}
                    <a href="{{ url_for('login')}}" class="right">SIGN-IN</a>
                    <a href="{{ url_for('register')}}" class="right">REGISTER</a>
            {% endif %}
        </nav>
        </div>



        <div class="body">
            <h1>Events Home Page</h1>





            <br><br><br>

            <table class="tablehome">
                <tr>
                    <th>Title</th>
                <th>Date</th>
                <th>Address</th>
                <th>Text</th>

                </tr>
                {% for event in index %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.text }}</td>

                <td>
                    <form action = "{{ url_for('new_rsvp', event_id= event.id) }}" method="post">
                        <input type="submit" value="RSVP">
                    </form>
                <td>
                    <form method="POST" action = "{{ url_for('new_report', event_id= event.id) }}" class="Reportbutton">
                        <input type="submit" value="Report">
                    </form>
                </td>
                </tr>
                {% endfor %}
            </table>



        </div>
    </body>
</html>