<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>
    <body>
     <h1 class="middle">Welcome {{user}} to Plan 8!</h1>
        <div class="topnav">
        <nav>

            {% if user %}
                <a href="{{ url_for('home')}}" class="left"> Home </a>
            <a href="{{url_for('get_events')}}" class="left"> My Events </a>
            <a href="{{url_for('new_event')}}" class="left"> Add Event</a>
            <a href="{{url_for('get_account')}}" class="left"> My Account</a>
                <a href="{{ url_for('logout')}}" class="right">Logout</a>
            {% else %}
                    <a href="{{ url_for('login')}}" class="right">Sign In</a>
                    <a href="{{ url_for('register')}}" class="right">Register</a>
            {% endif %}
        </nav>
        </div>

        <div class="formwrapper">
            <h2 class="title">Login</h2>
            <form method="POST" action="/login">
                <div class="form-field">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </body>
</html>
