<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Events App">
        <title> Events App - View your Events</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
     <h1>Welcome {{user}} to the Event App!</h1>
    <nav>
        <div class="topnav">
            <a href="{{ url_for('home')}}"> Home </a>
            <a href="/events"> My Events </a>
            <a href="{{url_for('new_event')}}"> Add Event</a>
            <a href="{{url_for('get_friends')}}"> Friend List</a>
            <a href="{{url_for('get_reports')}}"> Reported Events </a>
            <a href="{{url_for('get_account')}}"> My Account</a>
            <a href="{{ url_for('logout')}}">Logout</a>
        </div>
        </nav>
        <h1 class="eventlist">Listing Reported Events</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Address</th>
                <th>Text</th>
            </tr>
            {% for report in reports %}
            <tr>

                <td>{{report.event.title}}</td>
                <td>{{ report.event.date }}</td>
                <td>{{report.event.address }}</td>
                <td>{{ report.event.text }}</td>

            </tr>
            {% endfor %}

        </table>






    </body>
</html>
